<div class="page" id="index-page">
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="/Pages/index">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    页面切换演示
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="/LayzLoad/index">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    演示按需加载controller
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="/Preload/index">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    事件绑定
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="/Pages/add">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    loadding
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="/Pages/bindEvent">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    Alert
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="/Pages/loadding">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    页面切换演示
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="/Pages/alert">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    页面切换演示
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="/Pages/actionsheet">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    菜单演示
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="/Pages/modal">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    弹窗演示
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="/Pages/iScroll">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    iScroll(页面模拟滚动)
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="http://github.com/linksgo2011/backbone-mobile">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    Fork 本项目
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
</div>